// def timestamp = new Date().format('yyyy_MM_dd_HH_mm_ss')

params {
    calculate_sequence_length_threshold_script = 'lib/compute_sequence_length_statistics.py'
    visualize_file_size_changes_script = 'lib/visualize_file_size_changes.py'
    merge_pacvr_evenness_figure_script = 'lib/merge_pacvr_evenness_figures.sh'
    trim_mitogenome_duplicate_script = 'lib/trim_terminal_suffix_dup.py'
    reference_fasta = 'reference_genome/combined_references.fasta'
    index_directory = "reference_genome/index"
    seed_mito = 'Seed_mito.fasta'
    config_file = 'config.txt'
    contamination_db = 'db'
    // input_files_directory = "../temp_data"
    // csv_file = "../sensitive_data/test.csv"
    // csv_file = "../sensitive_data/test_backup.csv"
    // csv_file = "../sensitive_data/PRJEB4417_nucleotide_sra_mapped_infor_with_run.csv"
    csv_file = "../sensitive_data/PAIRED_nucleotide_sra_mapped_info_with_run_except_PRJEB4417.csv"
    // csv_file = "../sensitive_data/SINGLE_layout_sample_nucleotide_sra_mapped_info_with_run.csv"
    // csv_file = "../sensitive_data/test_single.csv"
    fastq_directory = "../genome_data/SRA_data"
    gb_directory = "../genome_data/complete_genome/genbank"
    fasta_directory = "../genome_data/complete_genome/fasta"
    rotation_seed_fasta = 'rotate_start_seed.txt'
    outdir = "results"
    eteDbDir = "${projectDir}/myetetoolkit"
    contamination_confidence_threshold = 0.8
    is_calculate_evenness = true
    rotation_mismatch_threshold = 5
}

docker {
    enabled = false
}
apptainer {
    enabled = true
    pullTimeout = '25 min'
    cacheDir = "${System.getenv('HOME')}/.apptainer_cache"
}
// autoMounts = false
// cleanup = true
process {
    errorStrategy = 'ignore'
    maxRetries = 1

    withLabel: python_env {
        container = "apptainer/python_data_env.sif"
    }

    withName: fastqc_process {
        container = "oras://community.wave.seqera.io/library/fastqc:0.12.1--104d26ddd9519960"
    }

    withName: repair_reads {
        container = "oras://community.wave.seqera.io/library/bbmap:39.37--9bf150ff9855d6f6"
    }

    withName: generate_sam {
        container = "oras://community.wave.seqera.io/library/bowtie2:2.5.4--2ec535d45cd82f0b"
    }

    withLabel: samtools_env {
        container = "oras://community.wave.seqera.io/library/samtools:1.22.1--9a10f06c24cdf05f"
    }

    withName: calculate_evenness {
        container = "apptainer/pacvr.sif"
    }

    withName: quality_control {
        container = "oras://community.wave.seqera.io/library/trim-galore:0.6.10--bc38c9238980c80e"
    }

    // withName: quality_control {
    //     container = "oras://community.wave.seqera.io/library/cutadapt:5.2--5505472a18e9cce0"
    // }

    withName: contamination_removal {
        container = "oras://community.wave.seqera.io/library/kraken2:2.1.6--9adf39ee63710bdb"
    }

    withName: mapping_process {
        container = "apptainer/fastq_sifter.sif"
    }

    withLabel: bwa_env {
        container = "oras://community.wave.seqera.io/library/bwa-mem2:2.3--811d8370bbebe6a4"
    }

    withLabel: bbmap_env {
        container = "oras://community.wave.seqera.io/library/bbmap:39.52--be327f090dc08662"
        memory = "5 GB"
        cpus = 6
    }

    withName: merge_pacvr_evenness_figures {
        container = "texlive/texlive:latest"
    }


    withName: mitoz_assembler {
        container = "apptainer/MitoZ_v3.6.sif"
        containerOptions = "--bind ${projectDir}/myetetoolkit:\$HOME/.etetoolkit --env ETE_NCBI_UPDATE_DB=0 "
    }

    withName: novoplast_process {
        container = "oras://community.wave.seqera.io/library/novoplasty:4.3.5--f7b1d8f5b858e34c"
    }

    withName: rotate_genome {
        container = "community.wave.seqera.io/library/rotate:1.0--6bb621d17a06083f "
    }
}
