docker {
    enabled = true
}
params {
    calculate_sequence_length_threshold_script = 'lib/compute_sequence_length_statistics.py'
    merge_pacvr_evenness_figure_script = 'lib/merge_pacvr_evenness_figures.sh'
    reference_fasta = 'reference_genome/combined_references.fasta'
    seed_mito = 'Seed_mito.fasta'
    config_file = 'config.txt'
    contamination_db = '/home/b_thapamagar/BioInformatics/DataMining_HumanMitoGenomes/nextflow_workflow/db'
    input_files_directory = "/home/b_thapamagar/BioInformatics/DataMining_HumanMitoGenomes/temp_data"
    csv_file = "/home/b_thapamagar/BioInformatics/DataMining_HumanMitoGenomes/sensitive_data/sample_nucleotide_sra_mapped_infor_with_run.csv"
    fastq_directory = "/home/b_thapamagar/BioInformatics/DataMining_HumanMitoGenomes/genome_data/SRA_data"
    gb_directory = "/home/b_thapamagar/BioInformatics/DataMining_HumanMitoGenomes/genome_data/complete_genome/genbank"
    fasta_directory = "/home/b_thapamagar/BioInformatics/DataMining_HumanMitoGenomes/genome_data/complete_genome/fasta"
}
process {
    errorStrategy = 'ignore'
    maxRetries = 1
}
