params {
    calculate_sequence_length_threshold_script = 'lib/compute_sequence_length_statistics.py'
    merge_pacvr_evenness_figure_script = 'lib/merge_pacvr_evenness_figures.sh'
    reference_fasta = 'reference_genome/combined_references.fasta'
    seed_mito = 'Seed_mito.fasta'
    config_file = 'config.txt'
    contamination_db = '/home/b_thapamagar/BioInformatics/DataMining_HumanMitoGenomes/nextflow_workflow/db'
    input_files_directory = "/home/b_thapamagar/BioInformatics/DataMining_HumanMitoGenomes/temp_data"
    csv_file = "/home/b_thapamagar/BioInformatics/DataMining_HumanMitoGenomes/sensitive_data/PRJEB4417_temp.csv"
    fastq_directory = "/home/b_thapamagar/BioInformatics/DataMining_HumanMitoGenomes/PRJEB4417_genome_data/SRA_data"
    gb_directory = "/home/b_thapamagar/BioInformatics/DataMining_HumanMitoGenomes/PRJEB4417_genome_data/complete_genome/genbank"
    fasta_directory = "/home/b_thapamagar/BioInformatics/DataMining_HumanMitoGenomes/PRJEB4417_genome_data/complete_genome/fasta"
}

docker {
    enabled = false
}
apptainer {
    enabled = true
    pullTimeout = '15 min'
    cacheDir = "${System.getenv('HOME')}/.apptainer_cache"
}

process {
    errorStrategy = 'ignore'
    maxRetries = 1

    withName: repairReads {
        container = "oras://community.wave.seqera.io/library/bbmap:39.37--9bf150ff9855d6f6"
    }

    withName: generate_sam {
        container = "oras://community.wave.seqera.io/library/bowtie2:2.5.4--2ec535d45cd82f0b"
    }

    withName: sam_to_bam {
        container = "oras://community.wave.seqera.io/library/samtools:1.22.1--9a10f06c24cdf05f"
    }
    withName: calculate_evenness {
        container = "apptainer/pacvr.sif"
    }
}
